[submodule "frontend"]
	path = frontend
	url = https://github.com/lichungtsai611/seawave-angular.git
[submodule "backend"]
	path = backend
	url = https://github.com/lichungtsai611/seawave-backend.git
